spring:
  application:
    name: clinic
  datasource:
    url: jdbc:postgresql://localhost:5432/clinicdb
    username: postgres
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8778
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: on_param
    include-exception: true

logging:
  level:
    com.clinic: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG