spring:
  application:
    name: clinic

  datasource:
    url: jdbc:postgresql://localhost:5432/clinicdb
    username: postgres
    password: root

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8778
